using L02P02_2022VD601_2022MG601.Models;

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

    <div class="d-flex">
        <div class="col-6 pr-3">

            <label for="Nombre:_">Nombre</label>
            @Html.TextBox("txtNombre", "", new { @class = "form-control" })

        </div>

        <div class="col-6 pl-3">
            <lable for="Apellido:_">Apellido</lable>
            @Html.TextBox("txtApellido", "", new { @class = "form-control" })
        </div>

        <div>
            <label for="Email:_">Email</label>
            @Html.TextBox("txtEmail", "", new{@class = "form-control"})
            <br/>
            <label for="Direccion:_">Dirección</label>
            @Html.TextBox("txtDireccion", "", new { @class = "form-control" })
        </div>

        <div class="d-flex">

            <div>
                <label for="Departamento:_">Departamentos</label>
                @Html.DropDownList("id", ViewData["listadoDeDepartamento"] as SelectList, "Seleccione un departamento", new {@class = "form-control" })
            </div>

            <div>
                <label for="Genero:_">Genero</label>
                @Html.RadioButton("Genero", "Masculino", false, new{id="masculino"})
                @Html.RadioButton("Genero", "Femenino", false, new { id = "femenino" })
            </div>

            <div>
                <label for="Puesto:_">Puestos</label>
                @Html.DropDownList("id", ViewData["listadoDePuestos"] as SelectList, "Seleccione un puesto", new { @class = "form-control" })
            </div>

            <div>
                <form asp-action="SubirArchivo" method="post" enctype="multipart/form-data">
                    <i class="bi bi-person-bounding-box"></i>
                    <div class="form-group">
                        <label for="archivo">Seleccione el archivo a cargar</label>
                        <input type="file" class="form-control" id="archivo" name="archivo">
                        <input type="text" id="archivo" name="archivo" />
                    </div>
                </form>
            </div>

            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre Completo</th>
                            <th>Email</th>
                            <th>Dirección</th>
                            <th>Departamento</th>
                            <th>Genero</th>
                            <th>Puesto</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var todo in (IEnumerable<dynamic>)ViewData["listadoDeClientes"])
                        {
                            <tr>
                                <td>@todo.nombre @todo.apellido</td>
                                <td>@todo.email</td>
                                <td>@todo.direccion</td>
                                <td>@todo.departamento</td>
                                <td>@todo.genero</td>
                                <td>@todo.puesto</td>
                                <td> <button type="button" class="btn btn-danger">ELIMINAR</button> </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
